
.tiptap .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    @apply text-gray-400;
    pointer-events: none;
    height: 0;
  }
  .tiptap .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    @apply text-gray-400;
    pointer-events: none;
    height: 0;
  }
  